.title{
    font-size: 30px;
    font-style: bold;
    text-align: center;
    background-color: blue;
}
.list{
    display: flex;
    justify-content: center;
}
.item{
    background-color:#ffcccc;
    flex:none;
    width:280px;
    margin:10px
}
.desktop-menu{
    display:block;
    text-align: center;
    margin:10px;
}
.mobile-menu{
    display:none;
    text-align: center;
    margin:10px;
}
@media(max-width:1250px){
    .list{
        flex-wrap:wrap;
    }
    .item{
        width:45%;
    }
}
@media(max-width:500px){
    .item{
        width:90%;
    }
    .desktop-menu{
        display:none;
    }
    .mobile-menu{
        display:block;
    }
    .title{
        font-size:20px;
    }
}

